.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 310px;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
}

.board {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto auto;
  padding: 0px;
  border: 5px solid blue;
  background-color: white;
}

/* .controls {
  
} */

.anchor, .tile {
  box-sizing: border-box;
}

.anchor {
  /* opacity: 1; */
  /* transition: opacity 1.5s ease-out; */
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: top 0.2s, left 0.2s, width 0.5s, height 0.5s, opacity 1.5s ease-out;
  /* transition: all 0.5s ease-out; */
  cursor: pointer;
  position: absolute;
}

.invisible {
  opacity: 0;
}

button {
  /* display: block; */
  margin: 10px 10px;
  width: 100px;
  height: 50px;
}
